// Font stack
$font-stack: 'Lato', sans-serif;

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #777;
$color-accent: #51ddfc;

$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

// Button radius
$btn-radius: 5px;

// Max-width
$max-width: 1400px;

// Media queries
$break-m: 768px;
