/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include btn-layout($brdr: none);
  margin-top: 15px;
  color: $white;
  text-transform: uppercase;
}

.default {
  @include btn-color($color-accent);
}

.error {
  @include btn-color($color-error);
}

.info {
  @include btn-color($color-info);
}

.success {
  @include btn-color($color-success);
}

.warning {
  @include btn-color($color-warning);
}
